<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Página no encontrada</title>

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

<section class="error-page">

    <div class="error-container">

        <h1>404</h1>

        <h2>Página no encontrada</h2>

        <p>
            La página que estás buscando no existe
            o fue movida.
        </p>

        <a href="/#" class="primary-btn">
            Volver al inicio
        </a>

    </div>

</section>

</body>
</html>